<ion-header>
  <ion-toolbar>
    <ion-title><strong>Restablecer Contraseña</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="restablecer-container">
  <div class="restablecer-box"> 
    <ion-item>
      <ion-label position="stacked">Nombre de Usuario</ion-label>
      <ion-input [(ngModel)]="nombreUsuario"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nueva Contraseña</ion-label>
      <ion-input [(ngModel)]="nuevaPassword" type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Confirmar Contraseña</ion-label>
      <ion-input [(ngModel)]="confirmarPassword" type="password"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="cambiarContrasena()" class="btn-restablecer">Cambiar Contraseña</ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <ion-button [routerLink]="['/login']" expand="full">Volver al inicio de sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>