<ion-header>
  <ion-toolbar color="primary">
    <ion-title>RegistrAPP</ion-title>
    <ion-buttons slot="end">
      <ion-button>
    <ion-img src="assets/images/logo_Duoc.png" alt="logo_Duoc"></ion-img>
  </ion-button>
</ion-buttons>
</ion-toolbar>
</ion-header>
<br>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Inicio de Sesión</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioLogin">
        <ion-item>
          <ion-label position="stacked" class="label-movido">Nombre</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked"class="label-movido2">Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
      </form>
      <br>
      <ion-button class="ingresar" (click)="ingresar()">Ingresar</ion-button>
      <br>
      <ion-button class="registrarUsuario" (click)="registrarUsuario()">registrar Usuario</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMensajeInicioProfesor()">Inicio profesor</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/restablecer-contrasena']" expand="full">Olvidaste tu Contraseña?</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
