<ion-header>
  <ion-toolbar>
    <ion-title> <strong>RegistrAPP</strong></ion-title>
    <ion-buttons slot="end">
      <img src="assets/images/duocuc.png" alt="Icono" class="header-image" />
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center login-container">
  <div class="login-box">
    <h2>Inicio de Sesión</h2>
      <form [formGroup]="formularioLogin">
        <ion-item class="input-item">
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="nombre"></ion-input>
          <ion-icon name="person" slot="end" color="primary"></ion-icon>
        </ion-item>
        <ion-item class="input-item">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
          <ion-icon name="lock-closed" slot="end" color="primary"></ion-icon>
        </ion-item>
      </form>
      <ion-button expand="block" (click)="ingresar()">
        Ingresar
      </ion-button>
      <br>
      <ion-button expand="block" (click)="registrarUsuario()" fill="clear">
        Crea tu usuario
      </ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMensajeInicioProfesor()">Inicio profesor</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/restablecer-contrasena']">Olvidaste tu Contraseña?</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
