.login-container {
    --background: linear-gradient(180deg, #4169E1, #87CEEB, #F0F8FF);
  }
  
  .login-box {
    margin: 15% auto;
    width: 90%;
    max-width: 350px;
    background: #F0F8FF;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .login-box h2 {
    font-size: 24px;
    font-weight: bold;
    color: #001F3F;
    margin-bottom: 20px;
  }
  
  .input-item {
    --background: #ffffff; 
    --color: #001F3F; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    margin-bottom: 15px;
    padding: 5px 10px;
  }
  
  ion-button {
    margin-top: 10px;
    --background: #4169E1;
    --color: white;
  }
  
  ion-header ion-toolbar {
    --background: #4169E1; 
    --color: white;
    height: 60px;         
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
  }

  .header-image {
    width: 100px;  
    height: auto; 
    max-width: 100%; 
    object-fit: contain;
  }

  ion-footer ion-toolbar {
    --background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ion-footer ion-button {
    margin: 0 auto;
    font-weight: bold;
    --background: rgba(255, 255, 255, 0.151);
    color: #000000;
    border-radius: 8px;
    padding: 8px 16px;
  }