/* Contenedor principal */
.profesor-container {
  --background: linear-gradient(180deg, #6a0dad, #9b5fd9, #e6dff3); /* Morado -> lila claro */
}

/* Caja que contiene el contenido principal */
.profesor-box {
  margin: 15% auto;
  width: 90%;
  max-width: 350px;
  background: #ffffff;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  margin-top: 50px;
}

.profesor-box h2 {
  font-size: 24px;
  font-weight: bold;
  color: #6a0dad;
  margin-bottom: 20px;
}

ion-item {
  --background: #f9f9f9;
  --color: #333;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;
}

ion-select {
  --color: #333;
  border-radius: 10px;
}

.btn-generar-qr {
  margin-top: 20px;
  font-weight: bold;
  --background: #6a0dad;
  --color: white;
  border-radius: 8px;
  width: 100%;
  padding: 12px;
}

.qr-modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
  width: 100%; 
  background-color: rgba(0, 0, 0, 0.8); 
  flex-direction: column;
  text-align: center;
}

.qr-code-container {
  padding: 20px;
}

.qr-code {
  width: 80%; 
  max-width: 500px;
  height: auto;
  border-radius: 10px;
}

ion-header ion-toolbar {
  --background: #6a0dad; 
  --color: white;
  height: 60px;         
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-footer ion-toolbar {
  --background: #f4f4f4; /* Gris claro */
  --color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-footer ion-button {
  margin: 0 auto; /* Centra el botón dentro del footer */
  font-weight: bold;
  --background: rgba(255, 255, 255, 0.795);
  border-radius: 8px;
  padding: 8px 16px;
}