<ion-header>
  <ion-toolbar>
    <ion-title><strong>Inicio Alumnos</strong></ion-title>
    <ion-buttons slot="end">
      <img src="assets/images/alumno_animado.png" alt="Icono" class="header-image" />
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="alumno-container">
  <div class="content-wrapper">
    <div class="welcome-box">
  <!-- Mostrar el nombre del usuario -->
  <ion-label>Bienvenid&#64;, {{ nombreUsuario }}</ion-label>
    </div>

  <!-- Mostrar la información del clima si está disponible -->
  <ion-card class="weather-card" *ngIf="weatherData">
    <ion-card-header>
      <ion-card-title color="black"><strong> Clima en {{ weatherData.name }} </strong></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Temperatura: {{ weatherData.main.temp }}°C</p>
      <p>Condición: {{ weatherData.weather[0].description }}</p>
      <p>Humedad: {{ weatherData.main.humidity }}%</p>
    </ion-card-content>
  </ion-card>


  <ion-button expand="block" (click)="iniciarEscaneo()">Escanear QR</ion-button>
  
  <zxing-scanner *ngIf="escaneando && selectedDevice"  [device]="selectedDevice" (scanSuccess)="onCodeResult($event)"></zxing-scanner>
  
  <ion-item>
    <ion-label position="stacked">Asignatura</ion-label>
    <ion-input [(ngModel)]="asignaturaSeleccionada" placeholder="Ej: PGY4121"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">Sección</ion-label>
    <ion-input [(ngModel)]="seccionSeleccionada" placeholder="Ej: 001D"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">Sala</ion-label>
    <ion-input [(ngModel)]="salaSeleccionada" placeholder="Ej: L1"></ion-input>
  </ion-item>

  <ion-button expand="block" expand="block" (click)="guardarAsistencia()">Guardar Asistencia</ion-button>
  
  <ion-button expand="block" expand="block" (click)="mostrarHistorial()">
    Ver Historial de Asistencias
  </ion-button>
  </div>
  </ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="salir()" expand="full">Volver al inicio de sesión</ion-button>
  </ion-toolbar>
</ion-footer>
